/*ADAPTATIVO | Diseño adaptativo*/
/********************************/
@media screen and (max-width: 530px) {  /*---Dispositivos mobiles---*/
  .titulo{
    width: 100%;
    font-size: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 600px) {
  .responsinve{
    width: 90%;
    background-color: #5b7989;
    font-family: "Dancing Script";
    color: #ffffff;
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 10px 10px 10px 10px;
  }
}

@media screen and (max-width: 599px) {
  .responsinve{
    border-radius: 0px 0px 0px 0px;
  }
  .contenedordearticulos2{
    border-radius: 0px 0px 0px 0px;
  }
  #cabecera{
    border-radius: 0px 0px 0px 0px;
  }
}

@media screen and (max-width: 600px) {
  #cabecera{
    width: 100%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 600px){
  .articuloizquierda, .articuloderecha{
    width: 100%;
  }

}
@media screen and (max-width: 600px) {
    .articulopie1, .articulopie2, .articulopie3, .articulopie4{
      width: 100%;
      display: flex;
	    flex-direction: column;
	    flex-wrap: wrap;
	    justify-content: left;
	    align-items: left;
	    align-content: left;
      margin-left: 10%;
      margin-bottom: 5%;
    }
}

@media screen and (max-width: 850px) {  /*---Tablets y Notebooks---*/
  .titulo{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .menu{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width 849px) and (min-width: 601px){
  #contenedordearticulos2{
    display: flex;
    flex-direction: column;
    width: 50%;
  }
  .articulopie1{
    width: 50%;
    order: 1;
  }
  .articulopie2{
    width: 50%;
    order: 2;
  }
  .articulopie3{
    width: 50%;
    order: 4;
  }
  .articulopie4{
    width: 50%;
    order: 3;
  }
}
/*MIRAR EL PIE DE PAGINA POR SUS BORDER RADIUS*/
